@model UserModel[]

@{
    ViewBag.Title = "Maintainers";
    Layout = "_Layout";
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin="">
</script>

<div class="top-banner top-banner-tertiary">
    <h1 class="rubik-black-italic c-light">FEATURED MAINTAINERS</h1>
</div>

<div id="map" style="width: 500px; height: 300px"></div>

<script>
    let map = L.map('map').setView([51.505, -0.09], 13);
    
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    
    let marker = L.marker([51.5, -0.09]).addTo(map);
    
    let circle = L.circle([51.508, -0.11], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.5,
        radius: 500
    }).addTo(map);
    
    let polygon = L.polygon([
        [51.509, -0.08],
        [51.503, -0.06],
        [51.51, -0.047]
    ]).addTo(map);
    
    marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
    circle.bindPopup("I am a circle.");
    polygon.bindPopup("I am a polygon.");
</script>

@foreach (var maintainer in Model)
{
    <div class="card mt-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-center">@maintainer.UserName</h5>
            <p class="card-text text-center">@maintainer.MaintainerAddress</p>
            <p class="card-text text-center">@maintainer.City</p>
            <p class="card-text text-center">@maintainer.Country</p>
            <p class="card-text text-center">@maintainer.PhoneNumber</p>
            <p class="card-text text-center">@maintainer.Email</p>
            <a href="@Url.Action("Index", "Maintainers", new { id = maintainer.Id })" class="btn btn-primary">View Maintainer</a>
        </div>
    </div>
}