@using ASP_Ecommerce.Components
@using ASP_Ecommerce.Models.Enums
@model ASP_Ecommerce.Models.ViewModels.IndividualMaintainerViewModel

@{
    ViewBag.Title = $"Maintainer - {Model.Maintainer.UserName}";
    Layout = "_Layout";
    var isOwner = User.Identity?.Name == Model.Maintainer.UserName;
}

<script>
    const deleteProductConfirm = (id, name) => {
        let result = confirm(`Are you sure you want to delete '${name}'?`);
        if (!result) return;
        
        fetch(`/products/delete/${id}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (response.ok) {
                location.reload();
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>

<div class="content">
    @if (isOwner)
    {
        <component type="typeof(EditMaintainer)" param-InitialModel="@Model.Maintainer" render-mode="Server" />
    }
    else
    {
        <h2>@Model.Maintainer.UserName</h2>
        <p>@(Model.Maintainer.MaintainerAddress), @(Model.Maintainer.City), @(Model.Maintainer.Country)</p>
        <p>@Model.Maintainer.MaintainerServices</p>
        <p>Products and services sold here</p>
        <p>@Model.Maintainer.PhoneNumber</p>
        <p>@Model.Maintainer.Email</p>
    }

    <h3>Products</h3>

    <component type="typeof(ProductList)" render-mode="Server"
               param-InitialData="@Model.ProductsViewModel"
               param-ListType="@ProductListType.Individual"
               param-OwnerMaintainer="@Model.Maintainer" />
</div>
