@using ASP_Ecommerce.Components
@using ASP_Ecommerce.Models.Enums
@model ASP_Ecommerce.Models.ViewModels.IndividualMaintainerViewModel

@{
    ViewBag.Title = $"Maintainer - {Model.Maintainer.UserName}";
    Layout = "_Layout";
    var isOwner = User.Identity?.Name == Model.Maintainer.UserName;
    var profileIcon = string.IsNullOrEmpty(Model.Maintainer.ProfilePictureUrl) ? "/icons/account-circle-outline.svg" : Model.Maintainer.ProfilePictureUrl;
}

<script>
    const deleteProductConfirm = (id, name) => {
        let result = confirm(`Are you sure you want to delete '${name}'?`);
        if (!result) return;
        
        fetch(`/products/delete/${id}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (response.ok) {
                location.reload();
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>

<div class="content">
    @if (isOwner)
    {
        <component type="typeof(EditMaintainer)" param-InitialModel="@Model.Maintainer" render-mode="Server" />
    }
    else
    {
        <div class="maintainer-section">
            <div class="maintainer-img">
                <div>
                    <img src="@profileIcon" alt="profile picture"/>
                </div>
            </div>
            <div class="maintainer-main">
                <h1 class="rubik-mono-one-regular">@Model.Maintainer.UserName</h1>
                <div class="maintainer-info-row">
                    <img src="~/icons/store-marker-outline.svg" alt="store marker" class="icon" />
                    <p>@(Model.Maintainer.MaintainerAddress), @(Model.Maintainer.City), @(Model.Maintainer.Country)</p>
                </div>
                <div class="maintainer-info-row">
                    <img src="~/icons/toolbox.svg" alt="services" class="icon" />
                    <p>@Model.Maintainer.MaintainerServices</p>
                </div>
                <div class="maintainer-info-row">
                    <img src="~/icons/shape.svg" alt="sold products" class="icon" />
                    <p>1234 and 123 services sold</p>
                </div>
            </div>
            <div class="maintainer-contact">
                <h2 class="rubik-strong-menu">Contact</h2>
                @if (Model.Maintainer.PhoneNumber != null)
                {
                    <div class="maintainer-info-row">
                        <img src="~/icons/phone.svg" alt="phone number" class="icon" />
                        <p>@Model.Maintainer.PhoneNumber</p>
                    </div>
                }
                @if (Model.Maintainer.Email != null)
                {
                    <div class="maintainer-info-row">
                        <img src="~/icons/email.svg" alt="email address" class="icon" />
                        <p>@Model.Maintainer.Email</p>
                    </div>
                }
            </div>
        </div>
    }

    <h3 class="rubik-mono-one-regular">Products</h3>

    <component type="typeof(ProductList)" render-mode="Server"
               param-InitialData="@Model.ProductsViewModel"
               param-ListType="@ProductListType.Individual"
               param-OwnerMaintainer="@Model.Maintainer" />
</div>
