@using ASP_Ecommerce.Components
@model UserModel

@{
    ViewBag.Title = $"Maintainer - {Model.UserName}";
    Layout = "_Layout";
}

@if (User.Identity?.Name == Model.UserName)
{
    <component type="typeof(EditMaintainer)" param-InitialModel="@Model" render-mode="Server" />
}
else
{
    <h2>@Model.UserName</h2>
    <p>@(Model.MaintainerAddress), @(Model.City), @(Model.Country)</p>
    <p>@Model.MaintainerServices</p>
    <p>Products and services sold here</p>
    <p>@Model.PhoneNumber</p>
    <p>@Model.Email</p>
}
