@using ASP_Ecommerce.Components
@model UserModel

@{
    ViewBag.Title = $"Maintainer - {Model.UserName}";
    Layout = "_Layout";
    var isOwner = User.Identity?.Name == Model.UserName;
}

<script>
    const deleteProductConfirm = (id, name) => {
        let result = confirm(`Are you sure you want to delete '${name}'?`);
        if (!result) return;
        
        fetch(`/products/${id}`, {
            method: 'DELETE'
        })
        .then(response => {
            if (response.ok) {
                location.reload();
            }
        })
        .catch(error => console.error('Error:', error));
    }
</script>

@if (isOwner)
{
    <component type="typeof(EditMaintainer)" param-InitialModel="@Model" render-mode="Server" />
}
else
{
    <h2>@Model.UserName</h2>
    <p>@(Model.MaintainerAddress), @(Model.City), @(Model.Country)</p>
    <p>@Model.MaintainerServices</p>
    <p>Products and services sold here</p>
    <p>@Model.PhoneNumber</p>
    <p>@Model.Email</p>
}

<h3>Products</h3>

@if (isOwner)
{
    <component type="typeof(AddProduct)" render-mode="Server" />
}

@foreach (var product in Model.MaintainerProducts)
{
    <div class="card mt-3" style="width: 18rem;">
        <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name">
        <div class="card-body">
            <h5 class="card-title">@product.Name</h5>
            <p class="card-text">@product.ShortDescription</p>
            <p class="card-text">Maintainer: @Model.UserName</p>
            <p class="card-text">Price: @product.Price</p>
            
            @if (!isOwner)
            {
                <button class="btn btn-primary">Add to cart</button>
            }
            else
            {
                // TODO: Consider a quick edit button here for basic info
                <button onclick="deleteProductConfirm(@product.Id, '@product.Name')" class="btn btn-danger">Delete</button>
            }
        </div>
    </div>
}