@using Microsoft.IdentityModel.Tokens
@model ASP_Ecommerce.Models.ViewModels.CartOverlayViewModel

<div class="shopping-cart">
    @if (Model.CartItemDatas.IsNullOrEmpty())
    {
        <strong>Your cart is empty</strong>
    }
    else
    {
        <div class="cart-row">
            <strong>Items in your cart</strong>
        </div>
        @foreach (var itemData in Model.CartItemDatas!)
        {
            <div class="cart-row">
                <img src="@itemData.Product.ImageUrl" width="60" height="60" alt="@itemData.Product.Name" />
                <p class="">@itemData.Product.Name</p>
                <div class="cart-row">
                    <img src="~/icons/menu-left.svg" width="24" height="24" alt="decrease quantity"
                         onclick="removeItemFromCart(@itemData.ProductId)" />
                    <p class="">@itemData.Quantity</p>
                    <img src="~/icons/menu-right.svg" width="24" height="24" alt="increase quantity"
                         onclick="addItemToCart(@itemData.ProductId)" />
                </div>
                <img src="icons/delete.svg" width="24" height="24" alt="delete" onclick="removeItemFromCart(@itemData.ProductId, -1)" />
                <strong>@(itemData.Product.Price) €</strong>
            </div>
        }
        <div class="cart-row">
            <div class="cart-row">
                <img src="icons/delete.svg" width="24" height="24" alt="empty cart" onclick="emptyCart()"/>
                <strong>Empty cart</strong>
            </div>
            <strong>Total</strong>
            <strong>@(Model.CartItemDatas.Sum(ci => ci.Product.Price * ci.Quantity)) €</strong>
        </div>
        <button class="btn btn-small btn-primary">Checkout</button>
    }
</div>