@using ASP_Ecommerce.Models
@using ASP_Ecommerce.Services
@using Microsoft.EntityFrameworkCore
@using System.Security.Principal
@using System.Security.Claims
@inject ApplicationDbContext DbContext
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JsRuntime

<h2 class="rubik-mono-one-regular">User reviews</h2>

@if (_message != string.Empty)
{
    <p class="alert @_alertClass">@_message</p>
}

@if (_isAuthenticated)
{
    <div class="shadow round-corners p-1 py-05">
        <h3 class="rubik-mono-one-regular">Write a review</h3>
        <EditForm Model="Model" OnValidSubmit="CreateReview" FormName="NewReviewForm" class="flex-column">
            <DataAnnotationsValidator />
            <ValidationSummary/>
            <div class="flex-row gap-1">
                <div>
                    <label class="rubik-strong-menu">Title</label><br/>
                    <InputText @bind-Value="Model.Title" class="rubik-strong-menu"/>
                </div>
                <div>
                    <label class="rubik-strong-menu">Score</label><br/>
                    <InputNumber @bind-Value="Model.Rating" class="rubik-strong-menu"/>
                </div>
                <button type="submit" class="btn btn-small btn-primary">Submit</button>
            </div>
            <div>
                <label class="rubik-strong-menu">Comment</label><br/>
                <InputTextArea @bind-Value="Model.Content" class="rubik-strong-menu c-dark round-corners p-1"/>
            </div>
        </EditForm>
    </div>
}

@if (_reviews.Count == 0)
{
    <p class="rubik-strong-menu">No reviews yet</p>
}
else
{
    @foreach (var review in _reviews)
    {
        var profilePicture = review.User.ProfilePictureUrl ?? DefaultProfilePicture;
        
        <div class="review mb-2">
            <div class="review-profile">
                <div class="review-pfp">
                    <img src="@profilePicture" alt="Profile picture"/>
                </div>
                <p class="rubik-strong-menu m-0">@review.User.UserName</p>
            </div>
            <div>
                <h3 class="rubik-strong-menu">@review.Title</h3>
                <p class="rubik-strong-menu">@(review.Rating)/5</p>
                <p>@review.Content</p>
                @if (_principal?.IsInRole("Admin") == true)
                {
                    <button class="btn btn-small btn-primary" @onclick="() => DeleteReview(review.Id)">Delete</button>
                }
            </div>
        </div>
    }
}

@code {
    [SupplyParameterFromForm]
    public ProductReviewModel Model { get; set; } = new();

    [Parameter]
    public int ProductId { get; set; }

    List<ProductReviewModel> _reviews = [];
    private string _message = string.Empty;
    private string _alertClass = string.Empty;
    private ClaimsPrincipal? _principal;
    private bool _isAuthenticated;

    const string DefaultProfilePicture = "/icons/account-circle-outline.svg";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _reviews = DbContext.ProductReviews
            .Where(p => p.ProductId == ProductId)
            .Include(p => p.User)
            .AsNoTracking()
            .ToList();

        _principal = AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User;

        _isAuthenticated = _principal.Identity?.IsAuthenticated == true;
    }

    private async Task CreateReview()
    {
        // principal and identity can't be null because the user must be authenticated to be here
        var user = DbContext.Users.First(u => u.UserName == _principal!.Identity!.Name);
        
        Model.UserId = user.Id;
        Model.ProductId = ProductId;

        try
        {
            DbContext.ProductReviews.Add(Model);
            await DbContext.SaveChangesAsync();
            _reviews.Add(Model);
            Model = new ProductReviewModel();
            _message = "Review submitted successfully";
            _alertClass = "c-tertiary";
            
            var avgRating = _reviews.Average(r => r.Rating);
            var product = DbContext.Products.First(p => p.Id == ProductId);
            product.AverageRating = (float)avgRating;
            
            await DbContext.SaveChangesAsync();
        }
        catch (Exception e)
        {
            _message = e.Message;
            _alertClass = "c-primary";
        }
    }

    private async Task DeleteReview(int id)
    {
        try
        {
            var targetReview = DbContext.ProductReviews.First(r => r.Id == id);
            
            var result = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete this review?");
            
            if (!result) return;
            
            DbContext.ProductReviews.Remove(targetReview);
            await DbContext.SaveChangesAsync();
            _reviews.RemoveAt(_reviews.FindIndex(r => r.Id == id));
            _message = "Review deleted successfully";
            _alertClass = "c-tertiary";
            
            var product = DbContext.Products.First(p => p.Id == ProductId);
            double avgRating = 0;
            
            if (_reviews.Count > 0)
            {
                avgRating = _reviews.Average(r => r.Rating);
            }
            
            product.AverageRating = (float)avgRating;
            
            await DbContext.SaveChangesAsync();
        }
        catch (Exception e)
        {
            _message = e.Message;
            _alertClass = "c-primary";
        }
    }
}