@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="login-section">
    <div class="login-side">
        <h1 class="gr-text-primary rubik-mono-one-regular">@ViewData["Title"]</h1>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" role="alert" class="c-primary"></div>
            <div>
                <span asp-validation-for="Input.Email" class="c-primary"></span>
                <input asp-for="Input.Email" class="rubik-strong-menu" autocomplete="email" aria-required="true" placeholder="Email" />
            </div>
            <div>
                <span asp-validation-for="Input.Password" class="c-primary"></span>
                <input asp-for="Input.Password" class="rubik-strong-menu" autocomplete="current-password" aria-required="true" placeholder="Password" />
            </div>
            <div>
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <button id="login-submit" type="submit" class="btn btn-primary gr-primary rubik-mono-one-regular">Log in</button>
        </form>
        <p><a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></p><br/>
        <p class="rubik-strong-menu">Don't have an account?</p>
        <p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-tertiary no-border rubik-mono-one-regular">Sign up</a></p>
        <p><a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a></p>
    </div>
    @* <strong class="rubik-mono-one-regular">or</strong> *@
    <div class="login-side">
        <section>
            <h3>Use another service to log in.</h3>
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
