@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign up";
}

<div class="login-section">
    <div class="login-side">
        <h1 class="gr-text-primary rubik-mono-one-regular">@ViewData["Title"]</h1>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="c-primary" role="alert"></div>
            <div>
                <span asp-validation-for="Input.FirstName" class="c-primary"></span>
                <input asp-for="Input.FirstName" class="rubik-strong-menu" autocomplete="firstname" aria-required="true" placeholder="First name" />
            </div>
            <div>
                <span asp-validation-for="Input.LastName" class="c-primary"></span>
                <input asp-for="Input.LastName" class="rubik-strong-menu" autocomplete="lastname" aria-required="true" placeholder="Last name" />
            </div>
            <div>
                <span asp-validation-for="Input.UserName" class="c-primary"></span>
                <input asp-for="Input.UserName" class="rubik-strong-menu" autocomplete="username" aria-required="true" placeholder="Username" />
            </div>
            <div>
                <span asp-validation-for="Input.Email" class="c-primary"></span>
                <input asp-for="Input.Email" class="rubik-strong-menu" autocomplete="email" aria-required="true" placeholder="Email" />
            </div>
            <div>
                <span asp-validation-for="Input.Password" class="c-primary"></span>
                <input asp-for="Input.Password" class="rubik-strong-menu" autocomplete="new-password" aria-required="true" placeholder="Password" />
            </div>
            <div>
                <span asp-validation-for="Input.ConfirmPassword" class="c-primary"></span>
                <input asp-for="Input.ConfirmPassword" class="rubik-strong-menu" autocomplete="new-password" aria-required="true" placeholder="Repeat password" />
            </div>
            <button id="registerSubmit" type="submit" class="btn gr-primary btn-primary rubik-mono-one-regular">Register</button>
        </form><br/>
        <p class="rubik-strong-menu">Already have an account?</p>
        <p><a asp-page="./Login" class="btn btn-tertiary no-border rubik-mono-one-regular">Login</a></p>
    </div>
    <div class="login-side">
        <h3>Use another service to register.</h3>
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                        about setting up this ASP.NET application to support logging in via external services</a>.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins!)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
