@model ASP_Ecommerce.Models.ViewModels.ProductsViewModel
@using ASP_Ecommerce.Components

@{
    ViewBag.Title = "Maintainer Products";
    Layout = "_Layout";
}

<h1>Maintainer Products</h1>

@foreach(var product in Model.Products)
{
    <div class="card mt-3" style="width: 18rem;">
        <a asp-controller="Products" asp-action="Product" asp-route-id="@product.Id">
            <img src="@product.ImageUrl" class="card-img-top" alt="@product.Name">
        </a>
        <div class="card-body">
            <h5 class="card-title">@product.Name</h5>
            <p class="card-text">@product.ShortDescription</p>
            <p class="card-text">Maintainer: @product.Maintainer!.UserName</p>
            <p class="card-text">Price: @product.Price</p>
            <button onclick="addItemToCart(@product.Id)" class="btn btn-primary">Add to cart</button>
        </div>
    </div>
}